* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.header {
	background-color: aqua;
	padding: 20px;
}

.header-top{
	  display: flex;
	align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;

}

.wrapper-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.logo {
	color: #01996D;
}

.menu-center{
	display: flex;
	gap: 50px;
}

.menu-center a {
	text-decoration: none;
	color: black;
}

.banner {
	display: flex;
	padding: 10px;
}

.wrapper{
   	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 1440px;
  	margin: 0 auto;
}

.main-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
  	max-width: 1440px;
  	margin: 0 auto;
}

.inform-1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 400px;
	height: 300px;
}

.inform-1 h1{
	color: #01996D;
}

.inform-2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	height: 300px;
}

.card {
		display: flex;
	justify-content: space-between;
	align-items: center;
  	max-width: 1440px;
  	margin: 0 auto;
	gap: 70px;
}

.cart-1{
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 595px;
}

.img-2{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 50px;
	width: 350px;
	height: 482px;
}

.cart-2{
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 595px;
	position: relative;
	top: 280px;
}

.img-2{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 50px;
	width: 350px;
	height: 482px;
	border-radius: 10px;
}


.cart-3{
	width: 350px;
	height: 595px;
}

.main-banner {
	display: flex;
	justify-content: space-around;
	align-items: center;
  	margin: 0 auto;
	position: relative;
	top: 300px;
	width: 1640px;
	height: 695px;
	background-color: rgba(36, 88, 82, 1);
}

.layout{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 350px;
	height: 482px;
	gap: 30px;
	color: aliceblue;
}

.btn-primary button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 65px;
	color: rgb(252, 250, 250);
	background-color: #01996D;
	border: 1px solid rgb(166, 192, 185);
	border-radius: 5px;
}

.img-3 {
	border-radius: 10px;
}