* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  background-color: #ffffff;
}

.dashboard {
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background: #F7F7F7;
  padding: 20px;
  color: aliceblue;
  border-radius: 15px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logo {
  display: flex;
  color: #000;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
}

.menu a {
  display: flex;
  align-content: center;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #8E9392;
}

.menu a.active {
  background-color: #fff;
  color: #184e30;
  font-weight: 600;
  border-left: 5px solid #184e30;
}

.menu-general{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  color: #000;
}

.menu-general a{
  color: #929795;
}

.header {
  grid-area: header;
  background-color: #F7F7F7;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.search {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  width: 270px;
  height: 40px;
  border-radius: 15px;
 
}
.profile {
  display: flex;
  margin-left: 10px;
}

.action {
  display: flex;
  gap: 15px;
  margin-left: 10px;
}

.logo-btn {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  object-fit: cover;
}

.logo-btn-2{
    width: 35px;
  height: 35px;
  border-radius: 100px;
  object-fit: cover;
}

.action-1 {
  display: flex;
  gap: 15px;
}

.dashboard-wrapper-head {
	display: flex;
	align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.btn {
  height: 40px;
  width: 120px;
  background-color: #184e30;
  color: #f8faf9;
  font-weight: 600;
  border-radius: 20px;
}

.btn-2 {
    height: 40px;
  width: 120px;
  background-color: #fff;
  color: #184e30;
  font-weight: 600;
  border-radius: 20px;
}

.main {
  grid-area: main;
   padding: 25px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  background-color: #F7F7F7;
  margin-top: 10px;
  border-radius: 15px;
  margin: 5px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,250px);
  gap: 20px;
}

.stats-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #FFFFFF;
  color: rgb(0, 10, 19);
  padding: 20px;
  border-radius: 10px;
  animation: fadeUp 2s ease-in-out forwards;
}


.content-card {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 50px;
}

h1 {
 font-size: 50px;
}

.arow {
      width: 30px;
  height: 30px;
  border-radius: 100px;
  object-fit: cover;
  background-color: #fff;
}

.monitor {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.dashboard {
  animation: sss 1s ease-in-out forwards;
}

@keyframes sss {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ----- Planshet -----*/
@media (max-width: 992px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard {
    grid-template-columns: 200px 1fr;
  }
}

/* ----- Mobile -----*/

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }

   .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "header" "main";
  }

  .stats {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 700px) {
  .sidebar {
    display: none;
  }

  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "header" "main";
  }

  .stats {
    grid-template-columns: 1fr;
  }
}

.banner {
  width: 150px;
  height: 150px;
  margin: 40px auto;
  background: linear-gradient(90deg, #0C0C0C, #0F971C);
  animation: banner 2s linear infinite;
}

@keyframes banner {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg);
  }
}

.stats-card:nth-child(5){
  grid-column: span 2;
}


.stats-card:nth-child(7){
  grid-row: span 2;
}



